.btn{
    display: inline-block;
    width: auto;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(35, 74, 213);
    background: linear-gradient(90deg, 6, 97, 221, 1);
    
    color: white;
    font-size: 20px;
    line-height: 20px;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    

}

.btn:hover{
    background-color: blue;
}